/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/******************* yh **********************/
#sec3{clear: both;}
#sec3 .slick-slide img{width: 100%; min-width: 1024px;}
#sec3 .slick-arrow{border: none; z-index: 99999999;
text-indent: -9999999; color: transparent;}
#sec3 .slick-prev{width: 52px; height: 12px;
background: url(../images/story_arr_l.svg)no-repeat;
background-position: 0 0; text-indent: -999999;
background-size: contain;
position: absolute; top: calc((555px / 2) - 6px); left: -60px;}
#sec3 .slick-next{width: 52px; height: 12px;
background: url(../images/story_arr.svg)no-repeat;
background-position: 0 0;
background-size: contain;
position: absolute; top: calc((555px / 2) - 6px); right: -70px;}
#sec3 .slick-dots{position: absolute; left: 40px; bottom: 15px;}
#sec3 .slick-dots li{display: inline-block;margin-right: 15px;}
#sec3 .slick-dots li button{text-indent: -9999999px;
width: 40px; height: 3px; background-color: #b2b2b2;
border: none;}
#sec3 .slick-dots li.slick-active button{
    transition: 0.7s;
    width: 60px; background-color: #AC4416;}
/****** sub ******/
.product .slick-prev{
    width: 50px; height: 10px;
    background: url(../images/story_arr_l.svg)no-repeat;
    background-position: 0 0; text-indent: -999999;
    background-size: contain;
    filter: invert(15%) sepia(29%) saturate(5189%) hue-rotate(17deg) brightness(99%) contrast(95%);
    position: absolute; top: 50%; left: -60px;}
.product .slick-prev:hover{
    width: 50px; height: 10px;
    background: url(../images/story_arr_l.svg)no-repeat;
    background-position: 0 0; text-indent: -999999;
    background-size: contain;
    filter: invert(15%) sepia(29%) saturate(5189%) hue-rotate(17deg) brightness(99%) contrast(95%);
    position: absolute; top: 50%; left: -60px;}
.product .slick-next{
    width: 50px; height: 10px;
    background: url(../images/story_arr.svg)no-repeat;
    background-position: 0 0;
    background-size: contain;
    filter: invert(15%) sepia(29%) saturate(5189%) hue-rotate(17deg) brightness(99%) contrast(95%);
    position: absolute; top:50%; right: -70px;}
.product .slick-next:hover{
    width: 50px; height: 10px;
    background: url(../images/story_arr.svg)no-repeat;
    background-position: 0 0;
    background-size: contain;
    filter: invert(15%) sepia(29%) saturate(5189%) hue-rotate(17deg) brightness(99%) contrast(95%);
    position: absolute; top:50%; right: -70px;}
.product .slick-dots li button{
  width: 20px; height: 1px;
  background-color: #b2b2b2;
  transition: 0.5s;
  margin-top: 4rem;
}
.product .slick-dots li.slick-active button{
  width: 35px;
  background-color: #AC4416; 
  transition: 0.5s;
}   

